
/*Para los ejemplos de los selectores ya existentes en CSS2 presentados en el Capitulos 3 
"Selectores" se ocupara la siguiente lista de contactos

 <ul>
     <li><a href="#" lang="es-ES" rel="amigo conocido">Peter</a></li>
     <li><a href="#" lang="es-ES" rel="amigo">Pedro</a></li>
     <li><a href="#" lang="es-MX" rel="contacto">Pancho</a></li>
 </ul>
*/

/*Ejemplo 1: Selector de Atributos Simple

Toda los elementos a en el marcado tienen un rel atributo, a pesar de tener valores diferentes, 
por tanto, a todos los elementos se les aplica la regla, es decir de la linea 6 a la 8.*/

 a[rel] { color: rojo; }

/*Ejemplo 2: Selector de valor de atributo exacto 
 
Este código aplica la regla sólo al segundo a elemento(linea 7) en el marcado porque selecciona 
solo elementos que tienen el valor exacto de amigo.*/

 a[rel='amigo'] { color: rojo; }

/*Ejemplo 3: Selector de valor de atributo parcial

Este código aplica la regla al primero y segundo elemento en el marcado porque selecciona todos 
los elementos que coincidan con amigo(linea 6 y 7), sin importar en que pocision se encuentren*/

 a[rel~='amigo'] { color: rojo; }

/*Ejemplo 4: Selector de atributos de idioma 

Este codigo selecciona todos los elementos(linea de la 6 a 8) porque comienza con es, 
independientemente de los valores de su país. Puede utilizar este selector para cualquier atributo
con valores separados por guiones, pero en la gran mayoría de los casos, serán códigos de idioma.*/

 a[lang|='es'] { color: rojo; }

/*--------------------------------------------------------------------------------------------------*/

/*Para los ejemplos de los selectores nuevos de CSS3 presentados en el Capitulo 3 se ocupara la 
siguiente lista 

 <li><a href="http://example.com/" title="Image Library">Ejemplo</a></li> 
 <li><a href="http://example.com/" title="Free Image Library">Ejemplo</a></li> 
 <li><a href="http://example.com/" title="Free Sound Library">Ejemplo</a></li > 
*/

/*Ejemplo 5: Selector de valor de atributo de subcadena inicial

En este caso, la norma se aplicará al primer elemento de la lista(linea 46) porque el título de la 
cadena de atributos comienza con la palabra imagen.*/

 a[title^='image'] {...}


/*Ejemplo 5.1: Selector de valor de atributo de subcadena inicial

Para este ejemplo se utiliza el siguiente codigo al cual se estaria aplicando el CSS

 <p>Este es un <a href="http://example.com/">hipervínculo</a>.</p>
*/

 a[href^='http'] {
     background: url('link.svg') no-repeat left center;
     display: inline-block;
     padding-left: 20px;
 }

/*Ejemplo 5.2: Selector de valor de atributo de subcadena inicial */

 a[href^='mail'] { background_image: url('email.svg'); } 
 a[href^='ftp'] { background_image: url('carpeta.svg'); } 
 a[href^='https'] { background_image: url('lock.svg'); }

/*Ejemplo 6: Selector de valor de atributo de subcadena final

Esta vez la regla se aplica a todos los elementos de la lista, ya que todos sus título los valores
de los atributos terminan con la cadena biblioteca.*/

 a[title$='library'] {...}

/*Ejemplo 6.1: Selector de valor de atributo de subcadena final*/

 a[href$='.pdf'] { background_image: url('pdf.svg'); } 
 a[href$='.doc'] { background_image: url('word.svg'); } 
 a[href$='.rss'] { background_image: url('feed.svg'); }

/*Ejemplo 7: Selector de valor de atributo de subcadena arbitrario

Esta regla se aplica al primer y segundo elemento de la lista porque ambos contienen la cadena de 
texto imagen en su atributo título, aunque la cadena aparezca en una posición diferente en cada 
ejemplo.*/

 a[título*='imagen'] {...}

/*Ejemplo 8: Selectores de atributos múltiples

Para este ejemplo se utiliza el siguiente codigo html, para ver en que caso aplica el CSS

 <p><ahref="http://example.com/folder1/file.pdf">Ejemplo</a></p>
 <p><a href="http://example.com/folder2/ archivo.pdf">Ejemplo</a></p>

El siguiente código de CSS busca a elementos que tienen un href atributo que comienza con 
http://,terminando con .pdf, y con /carpeta2/ contenida dentro de ella. 
*/

 a[href^='http://'][href*='/carpeta2/'][href$='.pdf'] {...}

/*Ejemplo 9: Combinador general de hermanos
                                                       
Para este ejemplo se utiliza el siguiente codigo html, para ver en que caso aplica el CSS

 <p>Next we're going to discuss...</p> 
 <h2>Ren&eacute; Descartes</h2>
 <p>A highly influential French philosopher...</p> 
 <p>He once famously declared:</p>
 blockquote>
     <p>I think, therefore I am.</p>
 </blockquote>
 <p>However, this presumes the existence of the thinker.</p>

El combinador de hermanos adyacentes para poner en negrita el elemento P inmediatamente adyacente
al elemento h2, que se aplica a los elemntos de codigo de la linea 118.
El Combinador general de hermanos para poner en cursiva todos los elementos p siguientes a el 
elemento h2 , que se aplica a los elementos de las lineas de codigo 118,119 y 123. 
 */

 h2 + p {font-weight: bolder;} /* Hermano adyacente */ 
 h2 ~ p { font-style: italic;} /* Hermano general */
